aiomcache==0.6.0
aioodbc==0.3.3
aiopg==1.0.0
aioredis==1.3.1
aiosqlite==0.15.0
appdirs==1.4.4
async-timeout==4.0.0a3
-e git+git@github.com:phenobarbital/asyncdb.git@33f715977b2bbb9619902b4d7e336bffbae37700#egg=asyncdb
asyncio==3.4.3
asyncio-redis==0.16.0
asyncpg==0.21.0
attrs==20.2.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
black==20.8b1
boto3==1.15.18
botocore==1.18.18
bs4==0.0.1
bump2version==1.0.1
bumpversion==0.6.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cryptography==3.2
dask==2.30.0
dateparser==0.7.6
decorator==4.4.2
et-xmlfile==1.0.1
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
hiredis==1.1.0
httplib2==0.18.1
idna==2.10
iso8601==0.1.13
isodate==0.6.0
isort==5.6.4
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
lxml==4.6.0
MarkupSafe==1.1.1
multidict==5.0.0
mypy-extensions==0.4.3
numpy==1.19.4
oauth2client==4.1.3
oauthlib==3.1.0
objectpath==0.6.1
openpyxl==3.0.5
outcome==1.0.1
pandas==1.1.3
pathspec==0.8.0
pbr==5.5.1
PGPy==0.5.3
ply==3.11
protobuf==4.0.0rc2
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDrive==1.3.1
pylibmc==1.6.1
pyodbc==4.0.30
python-dateutil==2.8.1
python-dotenv==0.14.0
python-magic==0.4.18
python-rapidjson==0.9.3
pytz==2020.4
PyYAML==5.3.1
redis==3.5.3
regex==2020.11.11
Represent==1.6.0
requests==2.25.0
requests-oauthlib==1.3.0
rethinkdb==2.4.7
rsa==4.6
s3transfer==0.3.3
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.20
sqlalchemy-aio==0.16.0
sqlparse==0.4.1
tabulate==0.8.7
toml==0.10.2
tqdm==4.50.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==3.0b1
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.25.11
uvloop==0.14.0
xlrd==1.2.0
XlsxWriter==1.3.7
xlwt==1.3.0
