aiounittest==1.4.2
black==24.8.0
build==1.2.1
coverage[toml]==7.5.3
flit==3.9.0
hypothesis==6.91.0
ipython==8.24.0
lint==1.2.1
mypy==1.7.1
pylint==3.0.2
pyperf==2.6.3
pytest>=6.0.0
pytest-asyncio==0.23.6
pytest-cov==4.0.0
pytest-cython==0.3.1
pytest-xdist==3.5.0
pytest-assume==2.4.3
sdist==0.0.0
sphinx==7.3.7
tox==4.6.4
twine==4.0.2
