aiounittest==1.4.2
black==22.6.0
codecov==2.1.12
coverage[toml]==6.4.4
flit==3.7.1
lint==1.2.1
mypy==0.971
pylint==2.14.5
sphinx==5.1.1
pytest>=6.0.0
pytest-asyncio==0.19.0
pytest-xdist==2.5.0
pytest-assume==2.4.3
